
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model  Hackagram.Models.Question
<script>

        function CheckAnswer(data) {
                $.post(@Url.Action("ValidateAnswer", "ValidateAnswer"),
                    {
                        excerciseName: '@ViewBag.excercise',
                        questionNumber: parseInt(data.replace("qtext_", "")),
                        answer: $('#'+data).val()
                    },
                    function (data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    });


        }
    </script>

<div class="container">
    <div class="row">
        <div class="col-lg-offset-4">
            <h1>Questions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <a class="btn btn-primary" href="@Url.Action("Questions", "Home", new { excerciseName = "Hackagram"})">Hackagram</a>
                <a class="btn btn-default disabled">Hackify</a>
                <a class="btn btn-default disabled">SnapHack</a>
                <a class="btn btn-default disabled">HackBook</a>
            </div>
        </div>
        <div class="col-lg-4">
            @if (ViewBag.questions.Count > 0)
            {
                foreach (Hackagram.Models.Question q in ViewBag.questions)
                {
                    <div class="card box" style="max-width:500px; min-height:100px; max-height:275px;min-height:50px; margin-left:40px; margin-top:60px">
                        <div class="card-body">
                            <h1 class="text-center">Question @q.QuestionNumber</h1>
                            <hr />
                            <p>@q.QuestionText</p>
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <p>Points worth: <span style="color:forestgreen">@q.Points</span></p>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(q.Answer))
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" onclick="CheckAnswer('qtext_@q.QuestionNumber')" type="button">Submit</button>
                                                </span>
                                                <input id="qtext_@q.QuestionNumber" type="text" class="form-control" placeholder="Got the answer?">
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                }

            }
            else
            {
                <h1 style="color:red"> There are no questions for excercise: @ViewBag.excercise</h1>
            }
        </div>
    </div>
</div>

