
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model  Hackagram.Models.Question
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        
    });

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-offset-4">
            <h1>Questions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <a class="btn btn-primary" href="@Url.Action("Questions", "Home", new { excerciseName = "Hackagram"})">Hackagram</a>
                <a class="btn btn-default disabled">Hackify</a>
                <a class="btn btn-default disabled">SnapHack</a>
                <a class="btn btn-default disabled">HackBook</a>
            </div>
        </div>
        <div class="col-lg-4">
            @if (ViewBag.questions.Count > 0)
            {
                foreach (Hackagram.Models.Question q in ViewBag.questions)
                {
                    <div class="card box" style="max-width:500px; min-height:100px; max-height:275px;min-height:50px; margin-left:40px; margin-top:60px">
                        <div class="card-body">
                            <h1 class="text-center">Question @q.QuestionNumber</h1>
                            <hr />
                            <p>@q.QuestionText</p>
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <p>Points worth: <span style="color:forestgreen">@q.Points</span></p>
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(q.Answer))
                                    {
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @using (Html.BeginForm("ValidateAnswer", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                                                {
                                                    @Html.TextBoxFor(m => m.Excercise, new { @class = "form-control", Value = "Hackagram", style = "display:none", @readonly = "true" })
                                                    @Html.TextBoxFor(m => m.QuestionNumber, new { @class = "form-control", Value = q.QuestionNumber, style = "display:none", @readonly = "true" })
                                                    @Html.TextBoxFor(m => m.Answer, new { @class = "form-control" })
                                                    <input class="btn btn-primary" type="submit" value="Submit" />
                                                }
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                }

            }
            else
            {
                <h1 style="color:red"> There are no questions for excercise: @ViewBag.excercise</h1>
            }
        </div>
    </div>
</div>

